.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.button {
  width: 125px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
